<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

<title>Spring Boot - Captcha - Confirm Update</title>
</head>
<body>
	
	<form th:action="@{/index}">
		<div class="container">
			<h1>Captcha Application</h1>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="alert alert-info">
						<span>You've successfully updated your account. Please login to continue.
							<a href="/" th:href="@{/login}">Login here</a>
						</span>
					</div>

				</div>
			</div>
		</div>
	</form>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>