<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Spring Boot - Captcha - Tutorials</title>
</head>
<body>


	<ul class="nav nav-pills" role="tablist">
		<li role="presentation"><a href="home">Home</a></li>
		<li role="presentation"><a href="accountUpdate">Account Update</a></li>
		<li role="presentation" class="active"><a href="#">Tutorials</a></li>
		<li role="presentation"><a href="admin">Admin</a></li>
		<li role="presentation"><a href="logout">Logout</a></li>
	</ul>
	
	<div class="container">
   		 <h1>Tutorials Page</h1>
   		     	<br></br> <br></br>
    	<span> Place holder for tutorial on the application.
    	</span>
	</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>